@media only screen and (max-width: 768px) {
  header .navbar-brand {
    padding-left: 1rem;
  }

  footer .row .col-md-2 {
    margin-top: 8vmin;
  }
  
  header .row .col-md-5 img {
    padding-top: 10%;
    padding-bottom: 10%;
    width: 75%;
  }

    header .row .col-md-7 {
    padding: 11vmin 1vmin;
    padding-bottom: 1px;
  }
}

