@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
  box-sizing: border-box;
}

header,
section {
  overflow-x: hidden;
}

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to right, #0052D4, #4364F7, #6FB1FC);
  --light-gray: rgba(255, 255, 255, 0.877);
}

header a {
  font-family: var(--Sniglet-font);
  font-size: 19.2px;
  font-weight: bold;
  color: whitesmoke;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
}

header .navbar-brand:hover {
  color: black;
}

header .nav-link:hover {
  color: black;
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 50vmin;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  padding-top: 30%;
  width: 75%;
}

header {
  background: var(--bggradient);
  background-position: center;
}

header .container .col-md-7 {
  font-family: "Rubik", sans-serif;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}

.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}

h1 {
  text-align: center;
  padding-top: 5vmin;
  padding-bottom: 0.1em;
  font-family: var(--Rubik);
}

.history > p {
  color: var(--light-black);
  font-size: 24px;
  padding: 5vmin;
}

.border-radius {
  border-radius: 340px;
  width: 60%;
}

footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 7vmin 7vmin;
}

footer p > span {
  color: #ff512f;
}

.list-modul{
  margin: 50px 0px;
  padding: 10px;
  width: 300px;
  height: 500px;
  overflow: auto;
}

.list-modul h2{
  font-family: var(--Rubik), sans-serif; 
  font-size: 30px;
  margin: 20px 5px;
}

.list-modul table{
  width: 100%;
}

.list-modul tr,td{
  font-family: var(--Rubik), sans-serif;
  padding: 10px 5px;
  border-collapse: collapse;
  border : 0.5px solid grey;
  border-style: none none solid none;
}

.list-modul a:link{
  text-decoration: none;
  color: blue;
}

.list-modul a:visited{
  text-decoration: none;
  color: blue;
}

.list-modul a:hover{
  text-decoration: underline;
  color: black;
}

.list-modul a:active{
  text-decoration: bold;
  color: black;
}

.content{
  margin: 50px;
  width: 700px;
  height: 600px;
  overflow: auto;
}

.content img{
  width: 100%;
}

.content h2{
  font-family: var(--Rubik), Helvitica, sans-serif;
  font-size: 30px;
}

.content p{
  font-family: var(--Rubik), Helvitica, sans-serif;
  font-size: 16px;
  text-align: justify;
}

.now {
  color: black;
  font-weight: bold;
}

.card-deck {
  padding-bottom: 5%;
}

.card-img-top {
  height: 60%;
  object-fit: cover;
}

.card-deck p {
  font-size: 14px;
}